nav {
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}