.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    font-family: 'Segoe UI';
}

.name a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.main-nav a {
    position: relative;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #000; 
    transition: width 0.2s ease; 
}

.main-nav a:hover::after {
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 2.5px 2.5px;
    margin: 0 15px;
}


.container {
    display: flex;
    max-width: 750px;
    margin: auto;
    font-family: 'Segoe UI';
    flex-direction: column;
}

.about {
    display: flex;
    flex-direction: row;
}

.profile-container {
    display: flex;
    padding: 25px;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 15rem; 
    height: 15rem;
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); 
}

.desc-container {
    padding: 25px;
    font-size: large;
}

.desc-social-links a {
    display: inline-block; 
    padding: 5px 5px; 
    background-color: #000; 
    color: #fff; 
    border-radius: 5px; 
    text-decoration: none; 
    font-family: Arial, sans-serif;
}

.publications {
    margin-top: 2rem;
}

.pub-desc a {
    text-decoration: none; /* Removes the underline */
    color: #3293fb; /* Sets a blue color */    
}

.pub-desc a:hover {
    
    color: #0162c9;
}

.paper {
    display: flex;
    flex-direction: row;
}

.pub-preview-image {
    width: 12.5rem; 
    height: 12.5rem;
}

.authors {
    font-size: 90%;
}